/* 320px (iPhone) */
@media screen and (max-width:320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
	}
	nav li:first-child {margin-left:0;}
}
/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:480px) {
	nav {
		height: auto;
		    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: #d2aa56;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a{line-height: 50px;}
	nav a#pull {
		display: block;
		background-color: #af853c;
		width: 100%;
		position: relative;
		text-align: left;
		padding: 0 1em;
	}
	nav a#pull:after {
		content:"";
		background: url(../images/nav-icon.png) no-repeat  right 50%;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav li:first-child {margin-left:0;}
	.hero .container{overflow: inherit;}
	.grid .col-50, .grid .col-40, .grid .col-60{width: 100%;  }
	.img-margin{margin: 1em 0 0;}
	.grid .col-50{padding: 0;}
	.grid {padding: 0 1em;}
	.inner-padding2{padding: 0;}
	.inner-padding{padding: 0;}
	ul.gallery li{width: 100%;}
	.container{padding: 50px 0 60px;}
	.container h1.text-right{margin-top: 0;}
	h1{font-size: 36px;}
	p{font-size: 16px;}
}
/* xGA iPad */
@media screen and (max-width:1024px) {
	
}
/* 1200px (Small Desktop, Netbook) */
@media screen and (max-width:1280px) {
	
}
/* Bootstrap 990px Breakpoint to 480px */
@media screen and (min-width:480px) and (max-width:991px) {
		nav { 
  		height: auto;
			border: 0;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #fff;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
	nav li:first-child {margin-left:0;}
	.hero .container{border: 0;}
	.grid .col-50, .grid .col-40, .grid .col-60{width: 100%;  }
	.img-margin{margin: 1em 0 0;}
	
}